body {
    background-image: url("/images/background.webp");
    background-size: 100vw;
    display: flex;
    justify-content: center;
    color: #183027;
    font-size: 18px;
    font-family: "Antic";
}

.container {
    background-image: url("/images/background.webp");
    background-size: 100vw;
    display: flex;
    justify-content: center;
    color: #183027;
    font-size: 18px;
    font-family: "Antic";
}

.form {
    width: 20%;
    display: flex;
    justify-content: center;
    height: 20%;
    flex-direction: column;
    margin-top: 15%;
}
.form input {
    margin: 0.5rem 0rem;
}

button {
    font-family: "Antic";
    background-color: white;
    color: #183027;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.content {
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50%;
}

.content-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.login {
    width: 30%;
    display: flex;
    justify-content: center;
    height: 15%;
    flex-direction: column;
    margin-top: 25%;
}

.back {
    display: flex;
    margin-right: auto;
}

.trips {
    width: 30%;
    display: flex;
    justify-content: center;
    height: 15%;
    flex-direction: column;
    margin-top: 2%;
}

button .add {
    margin-top: 20%;
}

.suggestion {
    font-size: 30px;
    font-weight: 500;
    margin-top: 8px;
}

.logout {
    font-weight: 600;
}

@media only screen and (max-width: 970px) {
    body {
        background-image: unset;
        background-color: rgb(165, 192, 201);
    }

    .container {
        background-image: unset;
        background-color: rgb(165, 192, 201);
    }
}

@media only screen and (max-width: 500px) {
    .trips {
        margin-top: 20%;
        margin-left: 50%;
    }

    .login {
        margin-top: 30%;
    }

    .form {
        margin-top: 30%;
    }
}
